.bgInicio{
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 15, 0, 0, 4);
}

.textoTip {
    -fx-font-size: 13px;
    -fx-text-fill: #607d8b;
    -fx-font-style: italic;
}
/* Barra de ingreso a tiempo */
.default-color0.chart-bar {
    -fx-bar-fill: #1eaa04;
}

/* Barra de ingreso tarde */
.default-color1.chart-bar {
    -fx-bar-fill: #e74c3c;
}
