.bgInicio{
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 15, 0, 0, 4);
}

.chart-pie {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.chart-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #37474f;
}

.chart-legend {
    -fx-background-color: #f5f5f5;
    -fx-padding: 10;
    -fx-border-radius: 10;
}
