.background{
    -fx-background-color: #f9fafc;
}

.bgInicio{
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 15, 0, 0, 4);
}

.infoEstudiante{
    -fx-background-color: #f9fafc;
    -fx-background-radius: 12;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 2);
}

.botones {
    -fx-background-color: linear-gradient(to bottom, #2196f3, #1565c0);
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 16px;
}

.botones:hover {
    -fx-background-color: linear-gradient(to bottom, #42a5f5, #1976d2);
}

.btnRegistrar:hover{
    -fx-background-color: linear-gradient(to bottom, #35ba05, #048136);
}